
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    body {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        # box-sizing: border-box;
    }
    h1 {
        color: green;
        font-family: 'Poppins', sans-serif;    
    }
</style>
<body>
    <h1>Home</h1>
</body>
